<aside>
  <div class="column-categori">カテゴリー</div>
  <div class="categori-list">
    <p><%= "カテゴリー" %></p>
  </div>
</aside>
<main>
  <div class="column-list">
    <div class="list">コラム一覧</div>
    <% @cooks.each do |cook| %>
      <div class="column_post">
        <p><%= cook.title %></p>
        <p><%= cook.text %></p>
      <% end %>
    </div>
  </div>
</main>