.column-contents {
  background-color: #FFF;
  padding: 5vh 0;
}

.column-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-family: comic;
  text-align: center;
}

.column-lists {
  width: 100vw;
  
}
.column-lists>.list {
  padding: 1vw;
  background-color: #FFF;
}

.column-info {
  margin-left: 30px;
  width: 60vw;
  color: black;
  padding: 30px 0 10px 10px;
  border: 1px solid;
  background-color: #FFCC00;
}

.column-image {
  float: left;
}

.images {
  height: 100px;
  width: 150px;
  padding-right: 8px;
}

.column-title {
  font-size: 3vh;
  color: black;
}

.column-title a {
  text-decoration: none;
}

.write-user {
  font-size: 2vh;
}

.column-genre p {
  font-size: 15px;
}

.tag-list {
  font-size: 15px;
}
