.column-contents {
  background-color: #FFF;
  padding: 5vh 0;
}

.column-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-family: comic;
  margin-left: 10vw;
}

.column-lists {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column-lists>.list {
  padding: 1vw;
  background-color: #FFF;
}

.column-info {
  margin-left: 30px;
  width: 20vw;
  height: 37vh;
  color: black;
  padding: 30px 0 10px 10px;
  border: 1px solid;
}



.images {
  height: 160px;
  width: 265px;
  padding-right: 8px;
}

.column-title {
  font-size: 2vh;
  color: black;
}

.column-title a {
  text-decoration: none;
}

.write-user {
  font-size: 2vh;
}

.column-genre p {
  font-size: 5px;
}

.tag-list {
  font-size: 15px;
}
