<div class="cook-image"></div>
<main>
  <div class="column-contents">
    <p class="title"><%= @nickname %>さんの投稿一覧</p>
    <ul class="column-lists">
      <% @cooks.each do |cook| %>
        <li class="list">
            <div class="column-info">
                <div class="column-image">
                  <%= image_tag cook.image, class: "images" if cook.image.attached? %>
                </div>
                <div class="column-genre">
                  <p><%= cook.category.name %></p>
                </div>
                <h3 class="column-title">
                  <%= link_to cook.title, cook_path(cook.id), method: :get, class: "title-name" %>
                </h3>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</main>