
.cook-content{
  background-color: white;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: 
      "header header header" 100px
      "image  image  image " 300px
      "left   center ......" 1000px
      "...... ...... ......"
      "...... ...... ......"
      / 200px 1fr ;
}



header {
  grid-area: header;
  border: 1px solid;
  background-color: white;
}


header a {
  text-decoration: none;
}

.cook-image {
  grid-area: image;
  background-image: url(cook.jpg);
  background-size: cover;
}



.app-title {
  font-size: 50px;
  font-family: Comic Sans MS;
  margin-top: 15px;
  margin-left: 6vw;
}

.app-title span {
  color: orange;
}


.log-new {
  text-align: right;
  font-size: 20px;
  padding-top: 5vh;
  margin-right: 5vw;
}


aside {
  grid-area: left;
  
}

main {
  grid-area: center;
  overflow: scroll;
}

.column-video {
  height: 150px;
  width: 250px;
}

.categori-name {
  font-size: 3vh;
  padding-bottom: 25px;
  border-bottom: 1px solid;
}

.column-categori {
  border: 1px solid;
  text-align: center;
  padding-top: 25px;
  margin-top: 10vh;
  background-color: #FFCC00;
}

.categori-list p {
  font-size: 3vh;
  padding-top: 10px;
  padding-right: 10px;
}

.categori-list a {
  text-decoration: none;
}

.right-container {
  margin-right: 15px;
}
